.header {
  border-bottom: 1px solid $header-border;
}

.header__container {
  @extend %flex-align;

  padding-top: 16px;
  padding-bottom: 16px;

  position: relative;
}

.nav {
  @extend %flex-align;
}

.logo {
  font-family: $logo-font-family;
  font-size: 26px;
  line-height: 1.19;
}

.logo__text {
  color: $accent-color;
}

.nav__list {
  // display: flex;
  display: none;
  margin-left: 93px;
}

.nav__item {
  @extend %flex-align;
  justify-content: center;

  margin-right: 50px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  // position: relative;

  transition: $primary-transition;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  // *** full version - overlay ***

  &::after {
    content: "";

    display: block;
    position: absolute;
    bottom: -1px;

    width: 100%;
    height: 4px;
    border-radius: 2px;
    opacity: 0;

    background-color: $accent-color;

    transition: $primary-transition;
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
  }
}

.nav__link--overlay {
  &::after {
    content: "";

    display: block;
    position: absolute;
    bottom: -1px;

    width: 100%;
    height: 4px;
    border-radius: 2px;
    opacity: 1;

    background-color: $accent-color;

    transition: $primary-transition;
  }
}

.contacts__list {
  // *** full version ***

  // display: flex;
  display: none;
  margin-left: auto;
}

.contacts__item--append {
  // *** full version ***

  margin-right: 50px;
}

.contacts__link {
  @extend %flex-align;

  font-weight: 500;
  letter-spacing: 0.02em;

  fill: $paragraph-color;
  color: $paragraph-color;

  transition: $primary-transition;

  &:hover,
  &:focus {
    fill: $accent-color;
    color: $accent-color;
  }
}

.contacts__icon {
  display: flex;
  margin-right: 10px;
}

// mobile menu

.menu__button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
  align-items: center;

  z-index: 2;

  border: none;
  background-color: transparent;
}

.button-icon {
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.icon-cross {
  display: none;
}

.is-open .icon-cross {
  display: block;
}

.is-open .icon-menu {
  display: none;
}

.mobile-menu {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 796px;
  width: 100vw;
  z-index: 1;

  padding-top: 48px;
  padding-bottom: 48px;
  // width: 100%;

  background-color: $primary-white-color;
}

.mobile-menu.is-open {
  display: none;
}

.mobile-menu__container {
  // margin-left: 25px;
  // margin-right: 83px;
  position: absolute;
  top: 0;
  left: 0;
  height: 796px;
  width: 100vw;
  z-index: 1;

  padding-top: 48px;
  padding-bottom: 48px;
  // width: 100%;

  background-color: $primary-white-color;

  padding-left: 25px;
  padding-right: 68px;
}

.menu-nav__list {
  margin-bottom: 302px;
}

.menu-nav__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.menu-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;

  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.menu-contacts__list {
  margin-bottom: 64px;
}

.menu-contacts__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.menu-contacts__link--accent-color {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;

  letter-spacing: 0.02em;

  color: $accent-color;
}

.menu-contacts__link--grey-color {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: $paragraph-color;
}

.menu-social__list {
  display: flex;
  position: relative;
  // justify-content: space-between;
  flex-wrap: wrap;
}

.menu-social__item {
  display: flex;
  margin-left: 0 auto;

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  //width: 100%;

  color: $accent-color;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.menu-social__link--overlay {
  &::after {
    content: "";

    position: absolute;
    bottom: 50%;

    width: 22px;
    height: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);

    transition: $primary-transition;
  }
}
